{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- GALLERY -->
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6">
                                    <h2 class="line-height-normal margin-bottom-10">OUR HISTORY & FACTS</h2>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    <p class="margin-bottom-25"> K.K.A Group was established in early 2014 with a vision to deliver
                                        comprehensive engineering and technical services across Ghana. As the parent company, K.K.A Group oversees
                                        three specialized branches: K.K.A Engineering, K.K.A Logistics, and K.K.A Handyman.

                                        From its inception, K.K.A has been committed to offering total engineering solutions to
                                        government, commercial, and residential clients. Our services range from the supply of
                                        engineering accessories and civil/structural engineering to hands-on technical support
                                        like plumbing and generator servicing. Backed by a skilled team of engineers and responsive
                                        operations staff, we continue to deliver reliable, professional, and timely solutions across
                                        all sectors.
                                        .</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="13" data-in-viewport="yes">13</div>
                                                <div class="text">PROJECT COMPLETED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="200" data-in-viewport="yes">200</div>
                                                <div class="text">SATISFIED CLIENTS</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="984" data-in-viewport="yes">984</div>
                                                <div class="text">WORKERS EMPLOYED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="wprt-galleries galleries w-570px" data-width="135" data-margin="10">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/1_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/1_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/2_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/2_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/3_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/3_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/4_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/4_.jpg' %}" alt="image" />
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="{% static 'assets/img/gallery/1-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/2-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/3-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/4-s_.jpg' %}" alt="image"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>


                    <!-- TEAM -->
                    <section class="wprt-section team">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="40" data-smobi="40"></div>

                                    <h2 class="margin-bottom-10">MEET OUR TEAM</h2>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                    <div class="wprt-team arrow-style-2 has-arrows arrow60 arrow-light" data-layout="slider" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-gaph="30" data-gapv="30">
                                        <div id="team-wrap" class="cbp">
                                            <div class="cbp-item">
                                                <div class="member">
                                                    <div class="inner">
                                                        <div class="image">
                                                            <div class="inner">
                                                                <img src="{% static 'assets/img/team/1.jpg' %}" alt="image" />
                                                            </div>
                                                             <ul class="socials clearfix">
                                                                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                <li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                             </ul>
                                                        </div>
                                                        <div class="texts">
                                                            <h4 class="name">Richard Wagner</h4>
                                                            <div class="position">Civil Engineer</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cbp-item">
                                                <div class="member">
                                                    <div class="inner">
                                                        <div class="image">
                                                            <div class="inner">
                                                                <img src="{% static 'assets/img/team/2.jpg' %}" alt="image" />
                                                            </div>
                                                             <ul class="socials clearfix">
                                                                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                             </ul>
                                                        </div>
                                                        <div class="texts">
                                                            <h4 class="name">Sarah Spence</h4>
                                                            <div class="position">Construction Assistant</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cbp-item">
                                                <div class="member">
                                                    <div class="inner">
                                                        <div class="image">
                                                            <div class="inner">
                                                                <img src="{% static 'assets/img/team/3.jpg' %}" alt="image" />
                                                            </div>
                                                             <ul class="socials clearfix">
                                                                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                             </ul>
                                                        </div>
                                                        <div class="texts">
                                                            <h4 class="name">John Halpern</h4>
                                                            <div class="position">Construction Manager</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cbp-item">
                                                <div class="member">
                                                    <div class="inner">
                                                        <div class="image">
                                                            <div class="inner">
                                                                <img src="{% static 'assets/img/team/4.jpg' %}" alt="image" />
                                                            </div>
                                                             <ul class="socials clearfix">
                                                                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                <li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                             </ul>
                                                        </div>
                                                        <div class="texts">
                                                            <h4 class="name">Tommy Atkins</h4>
                                                            <div class="position">Electricians</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cbp-item">
                                                <div class="member">
                                                    <div class="inner">
                                                        <div class="image">
                                                            <div class="inner">
                                                                <img src="{% static 'assets/img/team/5.jpg' %}" alt="image" />
                                                            </div>
                                                             <ul class="socials clearfix">
                                                                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                             </ul>
                                                        </div>
                                                        <div class="texts">
                                                            <h4 class="name">John Joe</h4>
                                                            <div class="position">Junior Architect</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /#team-wrap -->
                                    </div><!-- /.wprt-team -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}