{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- GALLERY -->
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6">
                                    <h2 class="line-height-normal margin-bottom-10">About KKA Group</h2>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    <p class="margin-bottom-25"> K.K.A Group was established early 2014.
                                    K.K.A Group as a mother company strives to provide Government, Commercial and Residential
                                        property owners a total structural and civil engineering solutions, from Road Construction
                                        to fixing technical problems from Plumbing to Generator servicing with a prompt customer
                                        service response.
                                        With over 10 years’ experience in the construction industry with very keen customers,
                                        we are your one-stop shop for all your construction and engineering needs.
                                        We are your partner to trust with all your complex construction and logistical needs.
                                        We are certified with Ghana’s EPA, trained Job Safety officers both on sites and offices.
                                        We also conduct regular training sessions in-house and customers who updates their HSE/JSA
                                        and MS on regular basis.
                                        We have the best technology systems in place that eases stress of servicing customers
                                        which includes mobile apps for requests till completion of work. We also use modern
                                        material technologies to provide our services.
                                        We are your partner to trust with all your constructional needs.</p>
                                        <div class="row">
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="13" data-in-viewport="yes">13</div>
                                                <div class="text">PROJECT COMPLETED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="200" data-in-viewport="yes">200</div>
                                                <div class="text">SATISFIED CLIENTS</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="984" data-in-viewport="yes">984</div>
                                                <div class="text">WORKERS EMPLOYED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="wprt-galleries galleries w-570px" data-width="135" data-margin="10">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/1_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/1_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/2_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/2_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/3_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/3_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/4_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/4_.jpg' %}" alt="image" />
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="{% static 'assets/img/gallery/1-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/2-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/3-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/4-s_.jpg' %}" alt="image"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>





                    <!-- PARTNERS -->
         <section class="partners-section">
  <div class="container">
    <div class="section-header">
      <h2>OUR PARTNERS</h2>
      <div class="divider"></div>
    </div>

    <!-- Two Marquee Rows (for all screen sizes) -->
    <div class="marquee-container">
      <!-- Top Row (Right-to-Left) - First 8 partners -->
      <div class="marquee-row top-row">
        <div class="marquee-inner">
          <!-- Original + Duplicated Cards (1-8) -->
          <div class="partner-card"><img src="{% static 'assets/img/team/1_.jpg' %}" alt="Partner 1"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/2_.jpg' %}" alt="Partner 2"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/3_.jpg' %}" alt="Partner 3"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/4_.jpg' %}" alt="Partner 4"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/5_.jpg' %}" alt="Partner 5"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/6_.jpg' %}" alt="Partner 6"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/7_.jpg' %}" alt="Partner 7"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/8_.jpg' %}" alt="Partner 8"></div>

          <!-- Duplicates for seamless looping -->
          <div class="partner-card"><img src="{% static 'assets/img/team/1_.jpg' %}" alt="Partner 1"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/2_.jpg' %}" alt="Partner 2"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/3_.jpg' %}" alt="Partner 3"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/4_.jpg' %}" alt="Partner 4"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/5_.jpg' %}" alt="Partner 5"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/6_.jpg' %}" alt="Partner 6"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/7_.jpg' %}" alt="Partner 7"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/8_.jpg' %}" alt="Partner 8"></div>
        </div>
      </div>

      <!-- Bottom Row (Left-to-Right) - Remaining partners -->
      <div class="marquee-row bottom-row">
        <div class="marquee-inner">
          <!-- Original + Duplicated Cards (9-15) -->
          <div class="partner-card"><img src="{% static 'assets/img/team/9_.jpg' %}" alt="Partner 9"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/10_.jpg' %}" alt="Partner 10"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/11_.jpg' %}" alt="Partner 11"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/12_.jpg' %}" alt="Partner 12"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/13_.jpg' %}" alt="Partner 13"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/14_.jpg' %}" alt="Partner 14"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/15_.jpg' %}" alt="Partner 15"></div>

          <!-- Duplicates for seamless looping -->
          <div class="partner-card"><img src="{% static 'assets/img/team/9_.jpg' %}" alt="Partner 9"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/10_.jpg' %}" alt="Partner 10"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/11_.jpg' %}" alt="Partner 11"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/12_.jpg' %}" alt="Partner 12"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/13_.jpg' %}" alt="Partner 13"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/14_.jpg' %}" alt="Partner 14"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/15_.jpg' %}" alt="Partner 15"></div>
        </div>
      </div>
    </div>
  </div>
</section>




                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}