{% extends 'base2.html' %}
{% block title %}About | KKA - GROUP{% endblock %}
{% load static %}
{% block content %}

<div class="margin-small-about"></div>
<div class="margin-large-about"></div>


<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- GALLERY -->
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6">
                                    <h2 class="line-height-normal margin-bottom-10">ABOUT K.K.A GROUP</h2>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    <div class="group-description animate__animated animate__fadeIn animate__delay-1s">
    <p>
        K.K.A Group was established in early 2014 as a comprehensive solutions provider for:
    </p>

    <ul class="group-list">
        <li>Government infrastructure projects</li>
        <li>Commercial property development</li>
        <li>Residential construction needs</li>
    </ul>

    <p>
        With 10+ years experience in the construction industry, we deliver:
    </p>

    <ul class="group-list">
        <li>Complete structural and civil engineering solutions</li>
        <li>Road construction and maintenance</li>
        <li>Technical services (plumbing to generator servicing)</li>
        <li>Prompt customer response systems</li>
    </ul>

    <p>
        Our certifications and capabilities include:
    </p>

    <ul class="group-list">
        <li>Ghana EPA certified</li>
        <li>Job Safety certified officers</li>
        <li>Regular HSE/JSA and MS training programs</li>
        <li>Modern technology systems including mobile service apps</li>
        <li>Advanced material technologies</li>
    </ul>

    <p>
        We are your trusted partner for all construction and logistical needs, delivering quality through innovation and experience.
    </p>
</div>
                                        <div class="row">
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="13" data-in-viewport="yes">13</div>
                                                <div class="text">PROJECT COMPLETED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="200" data-in-viewport="yes">200</div>
                                                <div class="text">SATISFIED CLIENTS</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-4">
                                            <div class="wprt-counter text-center has-plus">
                                                <div class="number" data-speed="5000" data-to="984" data-in-viewport="yes">984</div>
                                                <div class="text">WORKERS EMPLOYED</div>
                                            </div>

                                            <div class="wprt-spacer" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                                        </div><!-- /.col-md-4 -->
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="wprt-galleries galleries w-570px" data-width="135" data-margin="10">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/1_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/1_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/2_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/2_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/3_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/3_.jpg' %}" alt="image" />
                                                </li>

                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="{% static 'assets/img/gallery/4_.jpg' %}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="{% static 'assets/img/gallery/4_.jpg' %}" alt="image" />
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="{% static 'assets/img/gallery/1-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/2-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/3-s_.jpg' %}" alt="image"></li>
                                                <li><img src="{% static 'assets/img/gallery/4-s_.jpg' %}" alt="image"></li>
                                            </ul>
                                        </div>
                                        <div style="margin-top: 0.2rem"></div>
                                      <div class="flex-active-slide big-alone" style="width: 100%; overflow: hidden;">
                                        <img src="{% static 'assets/img/gallery/box.jpg' %}" alt="image"
                                             style="width: 100%; height: 40vh; display: block; object-fit: cover;" />
                                    </div>


                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>





                    <!-- PARTNERS -->
         <section class="partners-section">
  <div class="container">
    <div class="section-header">
      <h2>OUR PARTNERS</h2>
      <div class="divider"></div>
    </div>

    <!-- Two Marquee Rows (for all screen sizes) -->
    <div class="marquee-container">
      <!-- Top Row (Right-to-Left) - First 8 partners -->
      <div class="marquee-row top-row">
        <div class="marquee-inner">
          <!-- Original + Duplicated Cards (1-8) -->
          <div class="partner-card"><img src="{% static 'assets/img/team/1_.jpg' %}" alt="Partner 1"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/2_.jpg' %}" alt="Partner 2"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/3_.jpg' %}" alt="Partner 3"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/4_.jpg' %}" alt="Partner 4"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/5_.jpg' %}" alt="Partner 5"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/6_.jpg' %}" alt="Partner 6"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/7_.jpg' %}" alt="Partner 7"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/8_.jpg' %}" alt="Partner 8"></div>

          <!-- Duplicates for seamless looping -->
          <div class="partner-card"><img src="{% static 'assets/img/team/1_.jpg' %}" alt="Partner 1"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/2_.jpg' %}" alt="Partner 2"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/3_.jpg' %}" alt="Partner 3"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/4_.jpg' %}" alt="Partner 4"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/5_.jpg' %}" alt="Partner 5"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/6_.jpg' %}" alt="Partner 6"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/7_.jpg' %}" alt="Partner 7"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/8_.jpg' %}" alt="Partner 8"></div>
        </div>
      </div>

      <!-- Bottom Row (Left-to-Right) - Remaining partners -->
      <div class="marquee-row bottom-row">
        <div class="marquee-inner">
          <!-- Original + Duplicated Cards (9-15) -->
          <div class="partner-card"><img src="{% static 'assets/img/team/9_.jpg' %}" alt="Partner 9"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/10_.jpg' %}" alt="Partner 10"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/11_.jpg' %}" alt="Partner 11"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/12_.jpg' %}" alt="Partner 12"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/13_.jpg' %}" alt="Partner 13"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/14_.jpg' %}" alt="Partner 14"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/15_.jpg' %}" alt="Partner 15"></div>

          <!-- Duplicates for seamless looping -->
          <div class="partner-card"><img src="{% static 'assets/img/team/9_.jpg' %}" alt="Partner 9"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/10_.jpg' %}" alt="Partner 10"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/11_.jpg' %}" alt="Partner 11"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/12_.jpg' %}" alt="Partner 12"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/13_.jpg' %}" alt="Partner 13"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/14_.jpg' %}" alt="Partner 14"></div>
          <div class="partner-card"><img src="{% static 'assets/img/team/15_.jpg' %}" alt="Partner 15"></div>
        </div>
      </div>
    </div>
  </div>
</section>




                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}