{% extends 'base2.html' %}
{% block title %}Contact | KKA - GROUP{% endblock %}
{% load static %}
{% block content %}


<div class="margin-small-contact"></div>
<div class="margin-large-contact"></div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">


                                <div class="col-md-4">
                                    <div class="wprt-information">
                                        <h4 class="margin-bottom-15">CALL US</h4>
                                        <p>For inquiries, consultations, or partnership opportunities,
                                            please contact our team directly. At KKA Group,
                                            we are committed to providing prompt and professional support
                                            to meet your needs.</p>
                                        <ul class="style-2">
                                            <li class="address">
                                                <span class="hl">Address:</span>
                                                <span class="text">ST1 Makola Street; Adjacent NHIS Office La – Accra.</span>
                                            </li>
                                            <li class="phone">
                                                <span class="hl">Phone:</span>
                                                <span class="text">+233 591 696 941 / +233 591 696 942
                                                    <br>
                                                    +233 558 677 921 / +233 277 367 909</span>
                                            </li>
                                            <li class="email">
                                                <span class="hl">E-mail:</span>
                                                <span class="text">support@kkagroup.com</span>
                                            </li>
                                        </ul>
                                    </div><!-- /.wprt-information -->

                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-4 -->

			                    <div class="col-md-8">
			                    	<h4 class="margin-bottom-15">GET IN TOUCH WITH US</h4>
									<form action="https://themes247.net/html5/construction-template/demo/includes/contact/contact-process.php" method="post" class="contact-form wpcf7-form">
										<div class="wprt-contact-form-1">
											<span class="wpcf7-form-control-wrap name">
												<input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Name *" required>
											</span>
											<span class="wpcf7-form-control-wrap email">
												<input type="email" tabindex="2" id="email" name="email" value="" class="wpcf7-form-control" placeholder="E-mail *" required>
											</span>
											<span class="wpcf7-form-control-wrap phone">
												<input type="text" tabindex="3" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="Phone Number">
											</span>
											<span class="wpcf7-form-control-wrap subject">
												<input type="text" tabindex="4" id="subject" name="subject" value="" class="wpcf7-form-control" placeholder="Subject *" required>
											</span>
											<span class="wpcf7-form-control-wrap message">
												<textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Message" required></textarea>
											</span>
											<div class="wrap-submit">
												<input type="submit" value="SEND MESSAGE" class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
											</div>
										</div>
									</form>
			                    </div><!-- /.col-md-8 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
