{% extends 'base2.html' %}
{% block title %}Projects | K.K.A GROUP{% endblock %}
{% load static %}

{% block content %}

<div class="margin-small-project"></div>
<div class="margin-large-project"></div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- WORKS -->
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>

                                    <h2 class="text-center font-size-28 margin-bottom-10">PROJECT PORTFOLIO</h2>
                                    <div class="wprt-lines style-2 custom-1">
                                        <div class="line-1"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                    <p class="wprt-subtitle">Explore a curated selection of our landmark projects, showcasing the scale, precision, and
                                        innovation behind every build.
                                        From infrastructure to industrial developments, each image reflects our commitment to excellence and
                                        transformative design..</p>

                                    <div class="wprt-spacer" data-desktop="43" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-project" data-layout="grid" data-column="3" data-column2="3" data-column3="2" data-column4="1" data-gaph="30" data-gapv="30">
                                        <div id="project-filter">
                                            <div data-filter="*" class="cbp-filter-item">
                                                <span>All</span>
                                            </div>

                                            <div data-filter=".Engineering" class="cbp-filter-item">
                                                <span>Engineering</span>
                                            </div>
                                            <div data-filter=".Logistics" class="cbp-filter-item">
                                                <span>Logistics</span>
                                            </div>
                                            <div data-filter=".Handyman" class="cbp-filter-item">
                                                <span>Handyman</span>
                                            </div>
                                        </div><!-- /#project-filter -->

                                        <div id="projects" class="cbp">
                                            <div class="cbp-item Engineering ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/projects/2.jpg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/projects/2.jpg' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Handyman ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/handyman/plum2.jpeg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/handyman/plum2.jpeg' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Logistics ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/logistics/1.jpg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/logistics/1.jpg' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                           <div class="cbp-item Handyman ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/engine/home1.png' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/engine/home1.png' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                           <div class="cbp-item Engineering ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/engine/home1.png' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/engine/home1.png' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                           <div class="cbp-item Engineering ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/engine/civil2.png' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/engine/civil1.png' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Logistics ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/logistics/w1.jpg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/engine/civil1.png' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Handyman ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/handyman/wood1.jpeg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/handyman/plum2.jpeg' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Logistics ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/logistics/h1.jpg' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/handyman/plum2.jpeg' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                            <div class="cbp-item Engineering ">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                        <figure class="effect-sadie">
                                                            <img src="{% static 'assets/img/engine/civil1.png' %}" alt="image" />
                                                            <figcaption>
                                                                <div>

                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox" href="{% static 'assets/img/engine/home1.png' %}" data-title="LUXURY BUILDINGS">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->

                                        </div><!-- /#projects -->
                                    </div><!--/.wprt-project -->
                                </div><!-- /.col-md-12 -->

                                <div style="margin-top: 2rem">

                                </div><!-- /.col-md-12 -->


                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
